version: '3.8'

services:
  category-db:
    image: postgres:15-alpine
    environment:
      - POSTGRES_DB=categorydb
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    networks:
      - app-network
    ports:
      - "5432:5432"

  element-db:
    image: postgres:15-alpine
    environment:
      - POSTGRES_DB=elementdb
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    networks:
      - app-network
    ports:
      - "5433:5432" 

  category-service:
    build: ./category-service
    environment:
      - TRAIL_SERVICE_URL=http://element-service:8082
      - SERVER_PORT=8081
      - SPRING_DATASOURCE_URL=jdbc:postgresql://category-db:5432/categorydb
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=postgres
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update
      - SPRING_DATASOURCE_DRIVER_CLASS_NAME=org.postgresql.Driver
    depends_on:
      - category-db
    networks:
      - app-network

  element-service:
    build: ./element-service
    environment:
      - MOUNTAIN_SERVICE_URL=http://category-service:8081
      - SERVER_PORT=8082
      - SPRING_DATASOURCE_URL=jdbc:postgresql://element-db:5432/elementdb
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=postgres
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update
      - SPRING_DATASOURCE_DRIVER_CLASS_NAME=org.postgresql.Driver
    depends_on:
      - element-db
    networks:
      - app-network

  api-gateway-service:
    build: ./api-gateway-service
    ports:
      - "8080:8080"
    environment:
      - URL_CATEGORY=http://category-service:8081
      - URL_ELEMENT=http://element-service:8082
    depends_on:
      - category-service
      - element-service
    networks:
      - app-network

  angular-app:
    build: ./angular/my-app
    ports:
      - "4200:80"
    environment:
      - GATEWAY_URL=http://api-gateway-service:8080
    depends_on:
      - api-gateway-service
    networks:
      - app-network

networks:
  app-network:
    driver: bridge