version: '3.8'

services:

  config-service:
    build: ./config-service
    ports:
      - "8888:8888"
    networks:
      - app-network
    healthcheck:
      test: "wget --no-verbose --tries=1 --spider http://localhost:8888/actuator/health || exit 1"
      interval: 30s
      timeout: 10s
      retries: 5
  
  discovery-service:
    build: ./discovery-service
    ports:
      - "8761:8761"
    networks:
      - app-network

  category-db:
    image: postgres:15-alpine
    environment:
      - POSTGRES_DB=categorydb
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    volumes:
      - category-db-data:/var/lib/postgresql/data
    networks:
      - app-network
    ports:
      - "5432:5432"

  element-db:
    image: postgres:15-alpine
    environment:
      - POSTGRES_DB=elementdb
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    volumes:
      - element-db-data:/var/lib/postgresql/data
    networks:
      - app-network
    ports:
      - "5433:5432" 

  category-service:
    build: ./category-service
    environment:
      - CONFIG_SERVICE_URL=http://config-service:8888
    depends_on:
      category-db:
        condition: service_started
      discovery-service:
        condition: service_started
      config-service:
        condition: service_healthy
    networks:
      - app-network

  element-service:
    build: ./element-service
    deploy:
      replicas: 2
    environment:
      - CONFIG_SERVICE_URL=http://config-service:8888
    depends_on:
      discovery-service:
        condition: service_started
      config-service:
        condition: service_healthy
      element-db:
        condition: service_started
    networks:
      - app-network

  api-gateway-service:
    build: ./api-gateway-service
    ports:
      - "8080:8080"
    environment:
      - CONFIG_SERVICE_URL=http://config-service:8888
    depends_on:
      discovery-service:
        condition: service_started
      config-service:
        condition: service_healthy
      category-service:
        condition: service_started
      element-service:
        condition: service_started
    networks:
      - app-network

  angular-app:
    build: ./angular/my-app
    ports:
      - "4200:80"
    environment:
      - GATEWAY_URL=http://api-gateway-service:8080
    depends_on:
      - api-gateway-service
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  category-db-data:
  element-db-data: