version: '3.8'

services:
  # Zadanie 2: Kategorie (Góry)
  category-service:
    build: ./category-service
    environment:
      - TRAIL_SERVICE_URL=http://element-service:8082/
      - SERVER_PORT=8081
      - SPRING_DATASOURCE_URL=jdbc:h2:mem:categorydb
    networks:
      - app-network
    # Kontener jest dostępny wewnątrz sieci pod nazwą 'category-service'

  # Zadanie 3: Elementy (Szlaki)
  element-service:
    build: ./element-service
    environment:
      - MOUNTAIN_SERVICE_URL=http://category-service:8081/
      - SERVER_PORT=8082
      - SPRING_DATASOURCE_URL=jdbc:h2:mem:elementsdb
    networks:
      - app-network

  # Zadanie 4: Gateway (Aplikacja zarządzająca)
  api-gateway-service:
    build: ./api-gateway-service
    ports:
      - "8080:8080" # Udostępniamy port Gatewaya na Windowsie
    environment:
      # Ważne: Gateway łączy się z serwisami po ich nazwach z Docker Compose
      - URL_CATEGORY=http://category-service:8081
      - URL_ELEMENT=http://element-service:8082
    depends_on:
      - category-service
      - element-service
    networks:
      - app-network

  # Zadanie 1 & 4: Angular
  angular-app:
    build: ./angular/my-app
    ports:
      - "4200:80" # Angular dostępny na http://localhost:4200
    environment:
      # NGINX przekaże zapytania /api/ do tego adresu
      - GATEWAY_URL=http://api-gateway-service:8080
    depends_on:
      - api-gateway-service
    networks:
      - app-network
networks:
  app-network:
    driver: bridge